.faq {
  box-shadow: 0px 4px 0px 0px rgba(14, 13, 12, 0.1215686275);
  border-radius: 12px;
  margin: 42px 0;
  background-color: white;
  border: 1.5px solid #e7e6e4;
  padding: 42px 32px;
  font-family: "DM Sans", sans-serif;

  .faq-content {
    text-align: left;
    color: #5fb961;

    h2 {
      font-size: 45px;
      font-weight: 700;
      line-height: 38px;
    }

    h3 {
      max-width: 625px;
      margin-top: 18px;
      margin-bottom: 44px;
      font-size: 22px;
      font-weight: 500;
      line-height: 30px;
    }
  }

  .accordion {
    .accordion-item {
      margin-bottom: 22px;
      border: 1.5px solid #e7e6e4;
      border-radius: 12px;

      .accordion-body {
        box-shadow: 0px 4px 0px 0px rgba(14, 13, 12, 0.1215686275);
        border-radius: 12px;
      }
      .accordion-header {
        border-radius: 12px;

        button {
          // border: 0 !important;
          border-radius: 12px !important;
          box-shadow: 0px 4px 0px 0px rgba(14, 13, 12, 0.1215686275);

          padding: 15px 20px;
          background-color: white;
          font-size: 20px;
          font-weight: 500;
          line-height: 26.04px;
          text-align: left;
          color: #272522;
        }

        .accordion-button:not(.collapsed) {
          border: 1.5px solid #e7e6e4;
          box-shadow: none;
        }
      }
    }
  }
}
