.quote {
    box-shadow: 0px 4px 0px 0px #0e0d0c1f;
    border-radius: 12px;
    margin: 42px 0;
    background-color: white;
    border: 1.5px solid #e7e6e4;
    padding: 42px 32px;
    .quote-container {
      text-align: left;
      h2 {
        font-size: 45px;
        font-weight: 700;
        line-height: 38px;
        color: #5fb961;
      }
  
      h3 {
        font-size: 22px;
        font-weight: 500;
        line-height: 30px;
        color: #5fb961;
        margin-top: 18px;
        margin-bottom: 34px;
      }
    }
  
    h4 {
      font-size: 20px;
      font-weight: 500;
      line-height: 26.04px;
      color: #5fb961;
      margin-bottom: 12px;
    }
  
    form {
      .form-select {
        font-size: 18px;
        font-weight: 500;
        line-height: 23.44px;
        color: #727272;
        margin-bottom: 22px;
        padding: 16px;
      }
  
      .form-control {
        font-size: 18px;
        font-weight: 500;
        line-height: 23.44px;
        color: #727272;
  
        padding: 16px;
        margin-bottom: 22px;
      }
  
      textarea {
        margin-bottom: 36px;
      }
  
      .btns {
        text-align: center;
        .btnsubmit {
          padding: 18px 24px;
          background-color: #5fb961;
          border-radius: 12px;
          font-size: 28px;
          font-weight: 700;
          line-height: 24px;
          color: #fff;
        }
      }
    }
  
  }