#projects-page {
  font-family: "DM Sans", sans-serif;
  background-color: #f9f8fe;
  padding: 76px;
  margin-top: 130px;

  .hero-image {
    background-image: url("/img/about-us.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    border: 1.5px solid #e7e6e4;
    border-radius: 12px;
    box-shadow: 0px 4px 0px 0px #0e0d0c1f;
    height: 500px;
  }

  .clients {
    background-color: white;
    border: 1.5px solid #e7e6e4;
    border-radius: 12px;
    box-shadow: 0px 4px 0px 0px #0e0d0c1f;
    margin: 42px 0;
    padding: 28px;

    .title {
      margin-bottom: 42px;
      text-align: center;
      h2 {
        margin-top: 28px;
        font-size: 54px;
        font-weight: 500;
        line-height: 66px;
        color: #000;
      }
    }

    .client-slider {
      .swiper-button-prev {
        background-color: #5fb961;
        border-radius: 50%;
        width: 34px;
        height: 34px;
        margin-right: 40px;

        &::after {
          font-size: 10px;

          margin-top: 0;
          z-index: 10;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
        }
      }

      .swiper-button-next {
        background-color: #5fb961;
        border-radius: 50%;
        width: 34px;
        margin-left: 40px;
        height: 34px;

        &::after {
          font-size: 10px;

          margin-top: 0;
          z-index: 10;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
        }
      }

      .swiper-pagination {
        position: relative !important;
        margin-top: 24px;

        .swiper-pagination-bullet {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: #5fb961;
        }

        .swiper-pagination-bullet-active {
          border-radius: 32px;
          width: 39px;
        }
      }
    }
  }

  .projects {
    background-color: white;
    border: 1.5px solid #e7e6e4;
    border-radius: 12px;
    box-shadow: 0px 4px 0px 0px #0e0d0c1f;
    padding: 36px 32px;
    text-align: center;
    h2 {
      margin-top: 28px;
      margin-bottom: 24px;
      font-size: 45px;
      font-weight: 700;
      line-height: 38px;
    }
    p {
      font-family: DM Sans;
      font-size: 22px;
      font-weight: 500;
      line-height: 28px;
      color: #99958f;
      margin-bottom: 42px;
    }

    .item-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 28px 18px;
      .project {
        border: 1.5px solid #5fb961;
        border-radius: 12px;
        img {
          width: 100%;
          border-bottom: 1.5px solid #5fb961;
          height: 400px;
          object-fit: cover;
        }
        h3 {
          font-size: 16px;
          font-weight: 700;
          line-height: 18px;
          letter-spacing: 0.04em;
          text-align: center;
          padding: 14px 18px;
        }
      }
    }

    h4 {
      font-size: 28px;
      font-weight: 700;
      line-height: 38px;
      margin-top: 32px;
    }
  }
}
